@media(max-width: 768px){
    body {
        background-color: center;
        padding: 0 15px;
    }

    .slider{
        gap: 15px;
    }
}

@media(max-width: 468px) {
    .lista-personagens {
        width: 250px;
    }

    .imagem-carta {
        width: 95%;
    }

    .slider {
        position: relative;
    }

    .btn-seta {
        position: absolute;
        bottom: -8%;
    }

    #btn-avancar {
        right: 20%;
    }

    #btn-voltar {
        left: 20%;
    }
}

@media(max-width: 375px) {
    body {
        justify-content: start;
        padding-top: 10px;
        gap: 10px;
    }

    .cabecalho {
        font-size: 10px;
    }
}